@font-face {
  font-family: 'Inter-Semibold';
  src: url('../fonts/Inter-Semibold.woff') format('woff'),
    url('../fonts/Inter-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
    url('../HelveticaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
    url('../HelveticaNeue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}


@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Henry-Jones.eot');
    src: url('../fonts/Henry-Jones.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Henry-Jones.woff') format('woff'),
         url('../fonts/Henry-Jones.ttf') format('truetype'),
         url('../fonts/Henry-Jones.svg#Henry-Jones') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-trip-advisor:before{content:'\0041';}
.icon-facebook:before{content:'\0042';}
.icon-instagram:before{content:'\0043';}
.icon-twitter:before{content:'\0044';}
.icon-close:before{content:'\0045';}
