// FORMS > INPUT
$input-height: 50px;
$input-padding: 0 17px 0 17px;
$input-lineheight: 40px;
$input-bg: none;
$input-border: 2px solid $color-green;
$input-radius: 0;
$input-font-size: 14px;
$input-font-weight: normal;
$input-align: left;
$input-color: $color-green; // FORMS > SELECT
$select-icon: '\E004';
$select-icon-top: 13px;
$select-icon-right: 20px;
$select-font-size: 14px;
$select-padding-start-webkit: 15px;
$select-padding-start: 10px; // FORMS > TEXTAREA
$textarea-height: 102px;
$textarea-padding: 7px 15px;
$textarea-lineheight: 1;
$textarea-resize: none; // FORMS > BUTTON
$button-height: 104px;
$button-width: 104px;
$button-padding: 0 24px;
$button-lineheight: 30px;
$button-bg: $input-bg;
$button-border: $input-border;
$button-radius: 0;
$button-font-size: 13px;
$button-font-weight: bold;
$button-font-family: $font-main;
$button-transform: $input-transform;
$button-align: center;
$button-color: $color-green;
$button-spacing: 2px;
$button-submit-height: 30px;
$button-submit-width: 140px;
$button-submit-lineheight: 30px; // FORMS > CHECKBOX
$checkbox-icon: '\E00E';
$checkbox-icon-active: '\E00F';
$checkbox-padding-left: 8px;
$checkbox-icon-top: 1px;
$checkbox-icon-left: -15px;
$checkbox-font-size: 20px;
$checkbox-width: 15px;
$checkbox-height: $checkbox-width;

input:not([type='checkbox']):focus,
textarea:focus {
	outline: 0;
	background-color: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type='radio']:focus {
	-webkit-appearance: radio;
	-moz-appearance: radio;
	appearance: radio;
}

.is-selected .pika-button {
	background:$color-jam !important;
	box-shadow: inherit !important;
	color:$color-jam !important;
}

.pika-button:hover {
	background:$color-jam !important;
	color:#fff !important;
}

.pika-single {
	font-family: $font-base !important;
}

.is-today .pika-button {
	color:$color-jam !important;
}

.is-today .pika-button:hover {
	color:#fff !important;
}

.nf-form-fields-required {
	display: none;
}

.nf-error-field-errors {
	display: none;
}

.nf-error-required-error,
.nf-error {
	text-transform: none;
	font-size: 10px;
	color: #e7534f !important;
	font-family: $font-main;
	text-align: left;
	font-style: italic;
}

.footer .email-wrap.nf-fail {
	height: 42px;
}

.nf-fail {
	border: 1px solid $color-red;
	border-radius: 3px;
}

.nf-field-container {
	width: 100%;
	float: left!important;
	clear: none!important;

	@media (max-width: 640px) {
		width: 100% !important;
		margin: 0px !important;
		margin-bottom: 5px !important;

		&.submit-container {
			margin-top: 20px!important;
		}

		&.listcheckbox-container {
			margin-top: 20px!important;
		}
	}
}

.formWrapper .file_upload-wrap,
.formWrapper .list-has-form-wrap {
	.nf-field-label label {
		font-weight: bold!important;
		font-size: 16px!important;
		line-height: 18px!important;
	}

	.nf-field-description {
		order: 5;
		float: left;
		width: auto;
		margin-left: 10px;

		p {
			font-style: italic;
			line-height: 18px;
			font-size: 12px;

			a {
				font-style: italic;
				line-height: 18px;
				font-size: 12px;
				text-decoration: underline!important;
			}
		}
	}
}

.nf-form-cont {
	float: left;
	width: 100%;
}

.nf-form-title {
	display: none!important;
}

.nf-fu-progress {
	width: 100%;
	float: left;
	height: 5px!important;
	background-color: #fff!important;
}

.nf-progress-container {
	margin-top: 0px!important;
	height: 4px!important;
	background-color: #e1e1e1!important;
	border: none!important;

	.nf-progress {
		height: 4px!important;
		background-color: $color-red!important;
	}
}

.nf-breadcrumbs  {
	@include responsive(767) {
		display: none;
	}
}

.nf-breadcrumbs li {
	display: inline-block;
	text-align: center;
	width: 33.333%!important;

	a {
		color: #838383!important;
	}

	&.active {
		a {
			color: #030303!important;
		}
	}

	&:first-child {
		text-align: left;
	}

	&:last-child {
		text-align: right;
	}
}

input.nf-next {
	color: #fff!important;
    display: inline-block;
    float: none;
    padding: 0 58px!important;
    height: 50px!important;
    width: auto!important;
    background-color: #e7534f!important;
	text-transform: uppercase;
	cursor: pointer;
}

input.nf-previous {
	color: #fff!important;
    display: inline-block;
    float: none;
    padding: 0 20px!important;
    height: 50px!important;
    width: auto!important;
    background-color: #000 !important;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	box-shadow: none!important;
	margin-bottom:10px;
}

li.nf-previous-item {
	position:relative;

	&:before {
		content: '<';
		position: absolute;
		left: 0;
		top: 11px;
		color: #8d8d8d!important;
		display:none;
	}
}

@include responsive(767) {
	li.nf-previous-item,
	li.nf-next-item {
		width: 100%;
		float: left;

		input {
			width: 100%!important;
		}
	}
}

// #nf-field-46-wrap {
// 	position: absolute;
// 	top: 30px;
// 	width: 100%;
//
// 	@include responsive(767) {
// 		position: relative;
// 		top: auto;
//
// 		input {
// 			width: 100%!important;
// 		}
// 	}
// }



.files_uploaded {
	width: 100%;
	float: left;
}

.nf-fu-progress-bar {
	background-color: $color-red!important;
}

.nf-field .list-radio-wrap .nf-field-element li {
	width: auto;
	display: inline-block;
	margin-right: 40px!important;

	@include responsive(767) {
		width: 100%;
	}
}

.nf-field .list-radio-wrap .nf-field-element ul {
	@include responsive(767) {
		margin-top: 10px;
	}
}

.field-wrap {
	h2 {
		position: relative;
		margin-bottom: 50px;
		margin-top: 30px;

		&:after {
			content: '';
			display: block;
			float: left;
		    width: 43px;
		    height: 5px;
		    background-color: #e7534f;
			position: absolute;
			bottom: -25px;
		}
	}
}

.nf-help {
	background-image:url('../images/icon-help.svg') !important;
	background-size: 16px auto !important;
	background-repeat: no-repeat;
}

.nf-fu-fileinput-button {
	height: 40px;
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 2px 3px 9px 0 rgba(0,0,0,.1);
	color: #000;
	font-size: 12px;
	font-family: Helvetica,Arial,sans-serif;
	display: inline-block;
	float: left;
	padding: 0 20px!important;
	height: 40px!important;
	width: auto!important;
	background-color: transparent!important;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 15px;

	span {
		line-height: 38px;
		color: #000;
		display: inline-block;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.checkbox-wrap {
	[type="checkbox"]:checked,
	[type="checkbox"]:not(:checked) {
	    position: absolute;
	    left: -9999px;
	}
	> .nf-field-label {
		margin-left:-10px !important;
	}
	label {
		position: relative;
	    padding-left: 28px !important;
	    cursor: pointer;
	    line-height: 20px !important;
	    display: inline-block;
	    color: #666;
		margin-left: 0;
		margin-top:20px !important;

		&:before {
			content: '';
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 20px;
		    height: 20px;
		    border: 1px solid #e1e1e1 ;
		    border-radius: 2px ;
		    background: #fff;
		}

		&:after {
		    opacity: 0;
		    -webkit-transform: scale(0);
		    transform: scale(0);
			content: '';
		    width: 9px;
		    height: 9px;
		    background: $color-red;
		    position: absolute;
		    top: 5px;
		    left: 5px;
		    border-radius: 100%;
		    -webkit-transition: all 0.2s ease;
		    transition: all 0.2s ease;
		}

		&.nf-checked-label {
			&:after {
			    opacity: 1;
			    -webkit-transform: scale(1);
			    transform: scale(1);
			}
		}
	}
}

.list-radio-wrap
 {
	[type="radio"]:checked,
	[type="radio"]:not(:checked) {
	    position: absolute;
	    left: -9999px;
	}
	[type="radio"]:checked + label,
	[type="radio"]:not(:checked) + label
	{
	    position: relative;
	    padding-left: 28px;
	    cursor: pointer;
	    line-height: 20px;
	    display: inline-block;
	    color: #666;
		margin-left: 0;
	}
	[type="radio"]:checked + label:before,
	[type="radio"]:not(:checked) + label:before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 20px;
	    height: 20px;
	    border: 1px solid #e1e1e1 ;
	    border-radius: 2px ;
	    background: #fff;
	}
	[type="radio"]:checked + label:after,
	[type="radio"]:not(:checked) + label:after {
	    content: '';
	    width: 9px;
	    height: 9px;
	    background: $color-red;
	    position: absolute;
	    top: 5px;
	    left: 5px;
	    border-radius: 100%;
	    -webkit-transition: all 0.2s ease;
	    transition: all 0.2s ease;
	}
	[type="radio"]:not(:checked) + label:after {
	    opacity: 0;
	    -webkit-transform: scale(0);
	    transform: scale(0);
	}
	[type="radio"]:checked + label:after {
	    opacity: 1;
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
}

/*.field-wrap > div input {
	width: 100%!important;
	float: left;
	height: 40px;
	border: 1px solid $color-jam;
	color: #000;
	padding: 0 15px;
	text-align: center!important;
	font-size: 16px !important;
	font-family: $font-base;
	border-radius: none;
	text-transform: uppercase;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance:none;
	border-radius:0px;
}*/

.field-wrap input[type="button"],
.field-wrap input[type="submit"] {
	display: inline-block;
	float: left;
	background-color: $color-jam;
	color: #fff;
	width: 100% !important;
	height: 40px !important;
	line-height: 38px;
	font-size: 12px;
	font-family: $font-main;
	border-radius: none;
	cursor: pointer;
	border:0px;
	border-radius:0px;
	text-transform: uppercase;
	-webkit-appearance:none;
	border-radius:0px;

	@include transition(all, 200ms, ease);

	&:hover {
		background:#000;
		border-color:#000;
	}
}

.label-right .nf-field-label {
	padding-left: 10px!important;
}

input[type=submit] {
	-webkit-appearance:none;
	border:0px;
}

::-webkit-input-placeholder {
	opacity: 1 !important;
	color: #C1C1C1!important;
	font-family: $font-base!important;
	font-weight: bold!important;
	font-size: 14px!important;
	text-transform: none!important;
}
::-moz-placeholder {
	opacity: 1 !important;
	color: #C1C1C1!important;
	font-family: $font-base!important;
	font-weight: bold!important;
	font-size: 14px!important;
	text-transform: none!important;
}
:-ms-input-placeholder {
	opacity: 1 !important;
	color: #C1C1C1!important;
	font-family: $font-base!important;
	font-weight: bold!important;
	font-size: 14px!important;
	text-transform: none!important;
}
:-moz-placeholder {
	opacity: 1 !important;
	color: #C1C1C1!important;
	font-family: $font-base!important;
	font-weight: bold!important;
	font-size: 14px!important;
	text-transform: none!important;
}

footer {
	.form {
		.nf-response-msg {
			float: left;
			width: 100%;

			p {
				float: none;
				display: inline-block;
				font-family: $font-base !important;
				font-weight: bold;
				font-size: 14px !important;
				line-height: 1.25;
				color:#fff;
				text-align: center;
				padding: 0px;
				text-transform: none;
			}
		}
	}
}

.formPopup {
	.nf-response-msg {
		float: left;
		width: 100%;

		p {
			float: none;
			display: inline-block;
			font-family: $font-base !important;
			font-weight: bold;
			font-size: 24px !important;
			line-height: 1.25;
			color:#000;
			text-align: center;
			padding: 0px;
			text-transform: none;
		}
	}
}

.formWrapper.register {

	.email-container {
		width: 100% !important;
	}
	.email-wrap {
		float: left;
		width: 100% !important;
	}

	@include responsive(640) {
		.file_upload-container {
			margin-top: 20px !important;
		}
	}

	input {
		height: 50px;
		border-radius: 3px;
		box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.1);
		border: none;
		padding-left: 22px;
		color: #000;
		font-size: 12px;
		font-family: $font-base;
		-webkit-appearance:none;
	}

	textarea {
		border-radius: 3px;
	    box-shadow: 2px 3px 9px 0 rgba(0,0,0,.1);
		border: none;
		padding: 18px 22px;
		font-size: 12px;
		font-family: $font-base;
	}

	input[type="checkbox"] {
		box-shadow: none !important;
	}

	.company,
	.phone,
	.job-title {
		width: 100%;
	}

	.nf-field-label label {
		font-size: 14px;
		font-family: $font-base !important;
		line-height: 1.2;
		color: #000 !important;
		float: left;
		text-align: left;
		font-weight: normal !important;
	}

	.field-wrap-checkbox-wrap {
		float: left;
		margin-top: 10px;

		div.nf-field-element {
			width: auto !important;
		}
	}

	.listcheckbox-container {
		width: 100%;
		margin-bottom: 0px;

		ul {
			width: 100%;
			text-align: center;

			li {
				float: left;
				line-height: 20px;

				@include responsive(767) {
					width: 100%;
				}

				input {
					float: left;
					line-height: 20px;
					height: 20px;
					margin: 0;
				}

				label {
					position: relative;
					float: left;
					color: #000;
					line-height: 20px;
					height: 20px;
					bottom: 1px;
					margin-left: 15px;

					@media (max-width: 768px) {
						margin-left: 8px;
					}

					@include responsive(767) {
						margin-left: 0;
					}
				}
			}
		}

		&.checkboxButtons {
			padding-top: 20px;

			ul {
				text-align: left;
				margin-top: 5px!important;

				li {
					label {
						float: left;
						min-width: 0px;
						padding: 0 10px;
						height: 35px;
						line-height: 33px;
						text-align: center;
						display: block;
						color: #000;
						border:1px solid #000;
						border-radius:4px;
						cursor: pointer;
						font-family: $font-main;
						font-size: 13px;
						box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.1);
						text-transform: uppercase;
					}

					input {
						position:absolute;
						top:-20px;
						visibility: hidden;
					}

					input:checked + label {
						// background-color: $color-red;
						border-color: $color-red;
						color: $color-red;
						box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.1);
					}

					&:first-child {
						label {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.checkbox-container {
		width: 100%;
	}

	.checkbox-container.label-right {
		.nf-field-element {
			width: auto!important;
		}
	}

	.submit-container {
		width: 100%;
		text-align: center;

		input {
			color: #fff !important;
			display: inline-block;
			float: none;
			padding: 0 58px !important;
			height: 50px !important;
			width: auto !important;
			background-color: $color-red !important;

			@include responsive(767) {
				width:100% !important;
			}
		}
	}
}

span.select2 {
	float: left;
	position: relative;
	background: none;
	border-radius: 3px;
	font-size: 10px;
	font-family: $font-main;
	text-align: center !important;
	text-transform: uppercase;
	top: 0px !important;
	left: 0px;
	width: 105px !important;
	// padding: 8px 0 20px;
	text-align: left !important;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 40px;
	// z-index: 2;
}

.select2-selection--default,
.select2-selection--single {
	border: none !important;
}

// #mepr-address-country .select2-search--dropdown {
// 	display: block!important;
// }
//
// .select2-search--dropdown {
// 	display: none !important;
// }

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #f2f2f2 !important;
    color: #000;
}

.select2-results__option {
    font-size: 10px;
	font-family: $font-main;
	text-transform: uppercase;
}

.select2-selection__rendered,
.select2-selection {
	line-height: 40px !important;
	height: 40px !important;
	border-radius: 3px !important;
	width: 105px !important;
	box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.1) !important;
}

.select2-selection {
	border: 1px solid #000 !important;
}

.select2-selection__arrow {
	top: 7px !important;
}

.select2-dropdown {
	padding: 0 5px;
}

.select2-results__option {
	font-size: 10px;
	color: #000;
	text-transform: uppercase;
}

// Generic Form styling

.hs_hidden_event_name,
.hs-hidden_event_title,
.hs-hidden_event_date,
.hs-hidden_sf_id {
	display: none;
}


.hbspt-form {
	color: $color-darkGrey-new !important;
	width: 100%;
	font-size: 12px;
	font-family: $font-base !important;
	font-weight: 400 !important;
	text-transform: none !important;
	background-color: #fff;
	width: auto !important;
	padding: 32px;

	p {
		color: $color-darkGrey-new !important;
		font-size: 14px;
		margin-left: 0px;
	}

	h1,h2,h3,h4 {
		font-size: 24px;
		font-family: $font-base!important;
		font-weight: 500!important;
		letter-spacing: 0;
		line-height: 29px;
		margin-bottom: 0px;
	}
}


.hs_client_communication_opt_in {
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;

	legend {
		margin-bottom: 0px !important;
		padding-top: 0px;
		margin-top: 0 !important;
		order: 2;
	}
}

// HUbspot


.hbspt-form .select2-selection__rendered,
.hbspt-form .select2-selection,
.hs-form-html .select2-selection__rendered,
.hs-form-html .select2-selection {
	width: 100% !important;
}

.hs-form-html fieldset,
.hbspt-form fieldset {
	max-width: 100% !important;
}

.hs-form-html .hsfc-PhoneInput {
	width: 100%!important;

	.hsfc-PhoneInput__FlagAndCaret {
		border: 1px solid #e1e1e1 !important;
		border-radius: 4px !important;
		font-size: 14px !important;
		color: #000;
		font-weight: 500 !important;
		height: 40px !important;
		line-height: 40px !important;
	}
}

.hs-form-html .hsfc-Row {
	gap: 10px!important;
	margin-bottom: 0px!important;
}

.hbspt-form textarea,
.hbspt-form select,
.hbspt-form input[type="text"],
.hbspt-form input[type="url"],
.hbspt-form input[type="email"],
.hbspt-form input[type="tel"],
.hbspt-form input[type="number"],
.hbspt-form input[type="password"],
.hs-form-html textarea,
.hs-form-html select,
.hs-form-html input[type="text"],
.hs-form-html input[type="url"],
.hs-form-html input[type="email"],
.hs-form-html input[type="tel"],
.hs-form-html input[type="number"],
.hs-form-html input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-transform: none;
	box-shadow: none !important;
	border: 1px solid #e1e1e1 !important;
	border-radius: 4px !important;
	font-size: 14px !important;
	color: #000;
	font-weight: 500 !important;
	padding-left: 16px !important;
	height: 40px !important;
	line-height: 40px !important;
	width: 100% !important;
	background-color: transparent;

	&:focus {
		border-color: #000 !important;

		&.hs-error-msg {
			color: $color-red !important;
		}
	}

	&.error {
		border-color: $color-red !important;
	}
}


.hs-form-html select.is-placeholder {
	color: #C1C1C1 !important;
}

.hs-form-html textarea {
	height: 175px !important;
	line-height: 20px !important;
	width: 100% !important;
	padding-top: 10px;

}

input.hs-input {
	text-transform: none;
	box-shadow: none !important;
	border: 1px solid #e1e1e1 !important;
	border-radius: 4px !important;
	font-size: 14px !important;
	color: #c1c1c1;
	font-weight: normal;
	padding-left: 16px !important;
	height: 40px !important;
	line-height: 40px !important;
	width: 100% !important;
}

// Hubspot form stying

.hbspt-form fieldset textarea,
.hbspt-form fieldset select,
.hbspt-form fieldset input[type="text"],
.hbspt-form fieldset input[type="url"],
.hbspt-form fieldset input[type="email"],
.hbspt-form fieldset input[type="tel"],
.hbspt-form fieldset input[type="number"],
.hbspt-form fieldset input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-transform: none;
	box-shadow: none !important;
	border: 1px solid #e1e1e1 !important;
	border-radius: 4px !important;
	font-size: 14px !important;
	color: #000;
	font-weight: bold !important;
	padding-left: 16px !important;
	height: 40px !important;
	line-height: 40px !important;
	width: 100% !important;

	&:focus {
		border-color: #000 !important;
	}
}


.hbspt-form fieldset select.is-placeholder {
	color: #C1C1C1 !important;
}

.hbspt-form fieldset textarea {
	height: 80px !important;
	line-height: 20px !important;
	width: 100% !important;

}

input.hs-input {
	text-transform: none;
	box-shadow: none !important;
	border: 1px solid #e1e1e1 !important;
	border-radius: 4px !important;
	font-size: 14px !important;
	color: #c1c1c1;
	font-weight: normal;
	padding-left: 16px !important;
	height: 40px !important;
	line-height: 40px !important;
	width: 100% !important;
}

.hbspt-form,
.hs-form {
	fieldset {
		max-width: 100% !important;
	}

	.hs-main-font-element.hs-richtext {
		float: left;
		width: 100%;
		text-align: left;
		margin-top: 0px;

		p {
			font-size: 16px;
			color: #000;
			margin-left: 0;
			margin-bottom: 0px;

			strong {
				font-weight: 500!important;
				color: #5F5F5F;
			}
		}
	}


	label {
		color: $color-darkGrey-new !important;
		float: left;
		width: 100%;
		margin-bottom: 8px;
		font-size: 12px;
		font-family: $font-base !important;
		font-weight: 400 !important;
		text-transform: none !important;
		background-color: #fff;
		top: 14px;
		position: relative;
		width: auto !important;
		padding: 0 10px;
		left: 7px;
		z-index: 5;
	}

	.hs-form-field:focus-within {
		label {
			color: #000 !important;
		}
	}

	legend {
		color: $color-darkGrey-new !important;
		float: right;
		width: 100%;
		margin-bottom: 8px;
		font-size: 12px;
		font-family: $font-base !important;
		font-weight: 400 !important;
		text-transform: none !important;
		background-color: #fff;
		top: 14px;
		position: relative;
		width: auto !important;
		padding: 0 10px;
		right: 7px;
		z-index: 5;
	}

}

.hbspt-form span.select2 {
	width: 100% !important;
	float: left;
	position: relative;
	background: none;
	border-radius: 4px;
	font-size: 14px;
	font-family: $font-base;
	font-weight: normal;
	text-transform: none;
	color: #c1c1c1;
	top: 0px;
	left: 0px;
	width: 100% !important;
	text-align: left;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 40px;

	&.select2-container--open {

		.select2-selection {
			// background-color: #fafafa !important;
			// background: #fafafa !important;
			background-color: #fff;
			background: #fff;
		}
	}

	.select2-selection--default,
	.select2-selection--single {
		border: none;
	}

	.select2-selection__rendered,
	.select2-selection {
		line-height: 40px;
		height: 40px;
		border-radius: 4px;
		width: 100%;
		box-shadow: none !important;
		padding-left: 16px;
		color: #000;
	}

	.select2-selection {
		border: 1px solid #e1e1e1 !important;
	}

	.select2-search.select2-search--dropdown {
		display: none !important;
	}

	.select2-selection {
		padding-left: 0px !important;
	}

	.select2-selection__arrow {
		top: 6px !important;
	}

	.select2-selection__arrow b {
		border-color: transparent !important;

		&:after {
			position: absolute;
			content: '';
			background-image: url(../images/arrow-down-black.svg);
			background-size: 6px 4px;
			position: absolute;
			top: -5px;
			left: -3px;
			width: 6px;
			height: 4px;
		}
	}

	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent transparent !important;
		border-width: 0 4px 5px;

		&:after {
			top: 0px !important;
		}
	}

	.select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent transparent !important;
		border-width: 0 4px 5px;

		&:after {
			top: 0px !important;
		}
	}

	.select2-dropdown {
		border: 1px solid $color-darkGrey-new !important;
	}

	.select2-results__option {
		color: $color-darkGrey-new !important;

		&:hover {
			font-weight: bold;
		}

	}

}

.hbspt-form .select2-selection__rendered,
.hbspt-form .select2-selection {
	width: 100% !important;
}

.hs-form-html {
	.hsfc-RichText {
		color: #000000!important;
		margin-bottom: 32px!important;

		> span {
			color: #5F5F5F!important;
			float: left!important;
			width: 100%!important;
			line-height: 1.2!important;
		}

		p {
			strong {
				color: #000000 !important;
				font-size: 24px!important;
				line-height: 28px!important;
				font-weight: 500!important;
			}

			> span {
				color: #5F5F5F !important;
				float: left !important;
				width: 100% !important;
				line-height: 1.2 !important;
			}
		}
	}

	.hs_newsletter_opt_in {
		label {
			font-size: 16px !important;
			line-height: 16px !important;
			position: relative;
			left: 0px !important;
			color: #000 !important;
			padding: 0px !important;
			font-weight: bold !important;
			letter-spacing: 0.36px !important;
			margin-bottom: 20px !important;
		}

		legend {
			width: 100% !important;
			top: 0px !important;
			left: 0px !important;
			right: auto !important;
			padding: 0px !important;
			text-align: left;
		}

		.input {
			// width: calc(50% - 8px)!important;
			// position: relative;
		}

		@media(max-width: 480px) {
			input {
				width: 100% !important;
			}
		}
	}

	.hs_newsletter_opt_in .hs-field-desc p {
		color: #000 !important;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	.hsfc-ErrorAlert {
		font-size: 10px!important;
	}

	.hsfc-CheckboxFieldGroup {
		width: 100%;
		margin-bottom: 12px;

		.hsfc-CheckboxFieldGroup__Options {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 12px;
		}

		label {
			padding: 0px;
			left: 0px;
			top: 0px;
			width: 100%;
		}

		.hsfc-FieldDescription {
			color: #838383;
			float: left;
			width: 100%;
			text-align: left;
		}
	}
}

.hsfc-PostSubmit {
	.hs-form-html .hsfc-RichText {
		p {
			strong {
				font-size: 36px!important;
				line-height: 42px!important;
			}
		}
	}
}

.hs-form-html,
.hbspt-form {
	.hs-form-field {
		position: relative;
	}

	.hs-main-font-element.hs-richtext {
		float: left;
		width: 100%;
		text-align: left;
		margin-top: 0px;

		p {
			font-weight: 500 !important;
			letter-spacing: 0 !important;

			strong {
				font-weight: 500 !important;
				color: #5F5F5F;
			}
		}
	}

	.hs_would_you_like_to_provide_more_context_on_your_organisation_s_biggest_challenge_in_relation_to_your {
		label {
			width: 100% !important;
			color: #000 !important;
			font-size: 16px;
			font-family: $font-base !important;
			font-weight: 600 !important;
			text-transform: none !important;
			background-color: transparent;
			top: auto;
			position: relative;
			padding: 0px;
			left: auto;
			z-index: 5;
			opacity: 1;
			text-align: left;
		}
	}

	label {
		color: $color-darkGrey-new !important;
		float: left;
		width: 100%;
		margin-bottom: 8px;
		margin-top: 5px;
		font-size: 12px;
		font-family: $font-base !important;
		font-weight: 400 !important;
		text-transform: none !important;
		background-color: #fff;
		top: 14px;
		position: relative;
		width: auto !important;
		padding: 0 10px;
		left: 7px;
		z-index: 5;

		&.hs-error-msg {
			color: $color-red !important;
			font-size: 10px;
			top: auto;
			position: absolute;
			bottom: -12px;
			margin-bottom: 0px;
			line-height: 1;
			opacity: 1;
		}
	}

	.hs_home_office_delivery_address,
	.hs_dietary_requirements_,
	.hs_dietary_requirements {
		float: left;
		width: 100%;
		margin-top: 50px;

		>label {
			width: 100% !important;
			color: #000 !important;
			margin-bottom: 16px;
			margin-top: 0px;
			font-size: 14px;
			font-family: $font-base !important;
			font-weight: 500 !important;
			text-transform: none !important;
			background-color: transparent;
			top: auto;
			position: relative;
			padding: 0px;
			left: auto;
			z-index: 5;
			opacity: 1;

			>span {}
		}
	}

	.hs_dietary_requirements_,
	.hs_dietary_requirements {
		text-align: left;
	}

	.hs-fieldtype-checkbox,
	.hs-fieldtype-radio,
	.hs-fieldtype-textarea,
	.hs-fieldtype-booleancheckbox {
		float: left;
		width: 100%;
		margin-top: 16px;

		>label {
			width: 100% !important;
			color: #000 !important;
			margin-bottom: 16px;
			margin-top: 0px;
			font-size: 14px;
			font-family: $font-base !important;
			font-weight: 500 !important;
			text-transform: none !important;
			background-color: transparent;
			top: auto;
			position: relative;
			padding: 0px;
			left: auto;
			z-index: 5;
			opacity: 1;
		}

		legend {
			float: left;
			width: 100%;
			margin-top: -20px;
			margin-bottom: 20px;
			font-size: 14px;

		}

		&.hs_client_communication_method {
			legend {
				right: 0;
				padding-left: 0;
			}
		}

		div.input {
			float: left;
			width: 100%;
			text-align: left;

			ul[role="checkbox"],
			ul.inputs-list {
				float: left;
				width: 100%;
				text-align: left;

				li {
					float: left;
					width: auto;

					label {
						float: left;
						width: auto;
						padding: 0px;
						top: 0px;
						left: 0px;
						opacity: 1;

						input {
							height: auto !important;
							line-height: auto !important;
							float: left;
							width: auto !important;
							border: 1px solid #000 !important;
						}

						span {
							float: left;
							width: auto;
						}
					}
				}

				li.hs-form-checkbox,
				li.hs-form-booleancheckbox {
					margin-right: 35px;

					label {
						top: 0px;
						left: 0px;
						opacity: 1;

						p {
							font-size: 14px;
							margin-left: 0px;
						}

						span {
							font-size: 14px;
							color: #000;
							margin-left: 0px;

							p {
								font-size: 14px;
								margin-left: 0px;
							}

							span.hs-form-required {
								float: right;
							}
						}

						input[type="checkbox"]:checked+span::after {
							content: '';
							width: 18px;
							height: 18px;
							background-image: url('../images/takeaway-tick.svg');
							background-size: 22px 22px;
							background-position: center;
							background-repeat: no-repeat;
							display: block;
							position: absolute;
							top: 2px;
							left: 0px;
							border-radius: 4px;
							overflow: hidden;
						}

						input[type="checkbox"] {
							line-height: 2.1ex;
						}

						input[type="radio"],
						input[type="checkbox"] {
							position: absolute;
							left: -999em;
						}

						input[type="checkbox"]+span {
							position: relative;
							overflow: hidden;
							cursor: pointer;
						}

						input[type="checkbox"]+span::before {
							content: "";
							display: inline-block;
							vertical-align: -15%;
							height: 18px;
							width: 18px;
							background-color: white;
							border: 1px solid #000;
							border-radius: 4px;
							margin-right: 10px;
						}

						input[type="checkbox"]:checked+span::before {
							border-color: transparent;
						}

						input[type="checkbox"]+span p {
							display: inline;
						}
					}
				}

				li.hs-form-booleancheckbox {
					label {
						opacity: 1;

						span {
							color: #838383;

							p {
								color: #838383;
							}

							a {
								color: #838383;
								text-decoration: underline;
							}
						}
					}
				}

				li.hs-form-radio {
					margin-right: 35px;

					label {
						top: 0px;
						left: 0px;
						opacity: 1;

						span {
							font-size: 14px;
							color: #000;
							margin-left: 0px;
						}

						input[type="radio"]:checked+span::after {
							content: '';
							position: absolute;
							width: 12px;
							height: 12px;
							background: #e7534f;
							border-radius: 50%;
							top: 4px;
							left: 3px;
						}

						input[type="radio"] {
							line-height: 2.1ex;
						}

						input[type="radio"],
						input[type="checkbox"] {
							position: absolute;
							left: -999em;
						}

						input[type="radio"]+span {
							position: relative;
							overflow: hidden;
							cursor: pointer;
						}

						input[type="radio"]+span::before {
							content: "";
							display: inline-block;
							vertical-align: -15%;
							height: 18px;
							width: 18px;
							background-color: white;
							border: 1px solid #000;
							border-radius: 50%;
							margin-right: 10px;
						}
					}
				}
			}

			textarea {
				width: 100% !important;
				float: left;
				position: relative;
				background: none;
				padding-right: 16px;
				border-radius: 4px;
				font-size: 14px;
				font-family: $font-base;
				text-transform: none;
			}
		}

		&.hs_wine_choice {
			div.input {
				ul[role="checkbox"] {
					li.hs-form-radio {
						label {
							top: 0;
							left: 0;
							opacity: 1;

							span {
								float: left;
								min-width: 0px;
								padding: 0 20px;
								height: 47px;
								line-height: 45px;
								text-align: center;
								display: block;
								color: #000 !important;
								border: 1px solid #000;
								border-radius: 4px;
								cursor: pointer;
								font-family: $font-base;
								font-size: 14px;
								font-weight: 500 !important;
								text-transform: none;
								position: relative;
								-webkit-transition: all 0.3s ease;
								transition: all 0.3s ease;
								overflow: visible;

								&:hover {
									background-color: #fafafa;
									border-color: #838383;
								}

								&:before {
									display: none !important;
								}
							}
						}

						input {
							position: absolute;
							top: -20px;
							visibility: hidden;
						}

						input[type="radio"]+span {
							overflow: visible;
						}

						input[type="radio"]:checked+span {
							// background-color: $color-red;
							border-color: $color-red;
							color: $color-red !important;

							&:after {
								content: '';
								width: 18px;
								height: 18px;
								background: none;
								background-image: url('../images/takeaway-tick.svg');
								background-size: 18px 18px;
								background-position: center;
								background-repeat: no-repeat;
								display: block;
								position: absolute;
								left: auto;
								top: -9px;
								right: -9px;
							}

							&:hover {
								background-color: transparent;
							}
						}

						&:first-child {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.hs-fieldtype-booleancheckbox {
		margin-top: 16px;
	}

	.hs-form-field:focus-within {
		label {
			color: #000 !important;
		}
	}

	legend {
		color: $color-darkGrey-new !important;
		width: 100%;
		margin-bottom: 8px;
		font-size: 12px;
		font-family: $font-base !important;
		font-weight: 400 !important;
		text-transform: none !important;
		background-color: #fff;
		top: 14px;
		position: relative;
		width: auto !important;
		padding: 0 10px;
		right: 7px;
		z-index: 5;
	}

	.hs_submit.hs-submit {
		margin-top: 0px;
		text-align: center;

	}

	//
	// input[type="submit"] {
	//     border: 1px solid $color-red !important;
	//     border-radius: 0px;
	//     color: #fff;
	//     height: 85px;
	//     line-height: 85px !important;
	//     font-size: 12px !important;
	//     font-family: $font-base;
	//     font-weight: 700!important;
	//     background-color: $color-red;
	// 	text-transform: uppercase;
	// 	letter-spacing: 0.36px;
	//     padding: 0 124px 0 40px;
	// 	position: relative;
	// 	@include transition(all, 300ms, ease);
	// }
	//
	// div.actions {
	// 	position: absolute;
	// 	width: 214px;
	// 	left: calc(50% - 107px);
	// 	bottom: -20px;
	// 	@include transition(all, 300ms, ease);
	//
	// 	&:after {
	// 		content: '';
	// 		width: 35px;
	// 		height: 10px;
	// 		background-image: url('../images/people-gallery-right-white-arrow.svg');
	// 		position: absolute;
	// 		display: block;
	// 		z-index: 1;
	// 		background-size: 35px 10px;
	// 		background-repeat: no-repeat;
	// 		top: 36px;
	// 		right: 40px;
	// 	}
	//
	// 	&:hover {
	// 		bottom: -15px;
	//
	// 		input[type="submit"] {
	// 			background-color: #ED706D!important;
	// 			border-color: #ED706D!important;
	// 		}
	// 	}
	// }

	.hs-job_function__c+div {
		width: 100% !important;
	}
}

.hs-form-html span.select2 {
	width: 100% !important;
	float: left;
	position: relative;
	background: none;
	border-radius: 4px;
	font-size: 14px;
	font-family: $font-base;
	font-weight: normal;
	text-transform: none;
	color: #c1c1c1;
	top: 0px;
	left: 0px;
	width: 100% !important;
	text-align: left;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 40px;

	&.select2-container--open {

		.select2-selection {
			// background-color: #fafafa !important;
			// background: #fafafa !important;
			background-color: #fff;
			background: #fff;
		}
	}

	.select2-selection--default,
	.select2-selection--single {
		border: none;
	}

	.select2-selection__rendered,
	.select2-selection {
		line-height: 40px;
		height: 40px;
		border-radius: 4px;
		width: 100%;
		box-shadow: none !important;
		padding-left: 16px;
		color: #000;
	}

	.select2-selection {
		border: 1px solid #e1e1e1 !important;
	}

	.select2-search.select2-search--dropdown {
		display: none !important;
	}

	.select2-selection {
		padding-left: 0px !important;
	}

	.select2-selection__arrow {
		top: 6px !important;
	}

	.select2-selection__arrow b {
		border-color: transparent !important;

		&:after {
			position: absolute;
			content: '';
			background-image: url(../images/arrow-down-black.svg);
			background-size: 6px 4px;
			position: absolute;
			top: -5px;
			left: -3px;
			width: 6px;
			height: 4px;
		}
	}

	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent transparent !important;
		border-width: 0 4px 5px;

		&:after {
			top: 0px !important;
		}
	}

	.select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent transparent !important;
		border-width: 0 4px 5px;

		&:after {
			top: 0px !important;
		}
	}

	.select2-dropdown {
		border: 1px solid $color-darkGrey-new !important;
	}

	.select2-results__option {
		color: $color-darkGrey-new !important;

		&:hover {
			font-weight: 500;
		}

	}

}

.hs-form-html .select2-selection__rendered,
.hs-form-html .select2-selection {
	width: 100% !important;
}


.hsfc-DropdownField {
.hsfc-DropdownInput {
	width: 100%!important;
}
}

